<ul class="uk-nav uk-nav-default">
    <li class="uk-active"><a href="{{path('_admin')}}">Адмнинистрирование</a></li>
    <li><a href="{{path('_admin_topbanner')}}">Верхний баннер</a></li>
    <li><a href="{{path('_admin_leftbanner')}}">Боковой левый баннер</a></li>
    <li><a href="{{path('_admin_layer')}}">Слои на карте</a></li>
    <li><a href="#">Пользователи</a></li>
    <li><a href="{{path('_admin_publication')}}">Новости</a></li>
</ul>
