{% extends 'base.html.twig' %}
{% set page_title = 'Agroov' %}
{% set og_title = 'Agroov' %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}

<form method="GET" id="filter_form">
    <div id="map"></div>
</form>
<script>
    var geoip_lat = "{{geoip.lat}}";
    var geoip_lng = "{{geoip.lng}}";
    var left_banner_url = "{{path('_left_banner')}}";
    var countryUrl = "{{path('_country')}}";
    angular.module('agroov').directive('leftBanner',function(){
        return {
            templateUrl: left_banner_url
        };
    });

    $('.uk-radio').change(function(){
        $(this).prop("checked",true);
        $('#page').val(1)
        $('#filter_form').submit();
    });

    $('#country_id').change(function(){
        $('#page').val(1)
        $('#filter_form').submit();
    });

    $('#search_button').click(function(){
        $('#page').val(1)
        $('#filter_form').submit();    
    });

</script>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var markers_url = "{{path('_map_markers')}}";
    var webroot = "http://agroov.com/";
    document.addEventListener("DOMContentLoaded", function(event){
        var _map = document.getElementById('map');
        var width = document.documentElement.clientWidth;
        var height = document.documentElement.clientHeight;
        //_map.style.width = width - 15 + "px";
        _map.style.height = height + "px";
        var map;
        DG.then(function () {
            map = DG.map('map', {
                center: [geoip_lat,geoip_lng],
                zoom: 8,
                maxBounds: [
                ],
                minZoom : 2
            }); 
            $.getJSON(markers_url, function( data ) {
                console.log(data);
                if(data)
                {
                    for(var i=0;i<data.length;i++)
                    {
                        var companyIcon = DG.icon({
                            iconSize: [48, 48],
                            iconUrl: '/images/layer/' + data[i].icon,
                        });
                        var iconHtml = 
                        '<div class="ag-map-icon">'+
                            '<img class="ag-map-icon-image-border-right" src="/images/layer/' + data[i].icon + '">' +
                            '<span class="uk-text-middle uk-text-center ag-map-icon-color">' + data[i].status + '</span>'+
                        '</div>';
                        var divIcon = DG.divIcon({
                            iconSize: [128, 48],
                            className: 'ag-map-icon-own',
                            iconUrl: '/images/layer/' + data[i].icon,
                            html : iconHtml
                        });

                        var marker_url = webroot + data[i].url;

                        var poup_html = 
                        '<div>'+
                            '<div>' + 
                                '<a style="color:white" href="' + marker_url + '">'+
                                    data[i].company_name + 
                                '</a>'+        
                                " тел.:  " + data[i].phone +
                            '</div>'+
                        '</div>';
                        var marker = DG.marker([data[i].lat, data[i].lng],
                            {
                                icon: divIcon
                            }
                        ).addTo(map);

                        marker.bindPopup(poup_html);

                    }
                }
            });
        });
    });
</script>
{% include 'footer.html.twig'%}
{% endblock %}
