{% extends "base.html.twig" %}
{% block title %}Список компаний{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}
<div class="uk-grid uk-margin uk-child-width-expand@s uk-grid-stack" uk-grid>
    <div class="uk-grid-small uk-grid uk-first-column" uk-grid="" uk-height-match="target: > div > .uk-card">
        <div class="uk-width-expand@s uk-first-column">
            <div class="uk-card uk-card-default">
                <div class="uk-margin">
                    <div country-sel class="uk-margin-bottom-large uk-text-center">
                        <div uk-form-custom="target: > * > span:first-child" class="uk-form-custom">
                            <select id="country_id" name="country_id">
                                <option value="">Выбрать страну</option>
                                {% for country in countries %}
                                {% set selected = "" %}
                                {% if country.id == app.request.query.get('country_id')%}
                                {% set selected = "selected"%}
                                {% endif %}
                                <option {{selected}} value={{country.id}} data-phonecode={{country.phonecode}}>{{country.name}}</option>
                                {% endfor %}
                            </select>
                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                <span></span>
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-card-body">
                    <ul class="uk-nav-default uk-margin-auto-left uk-nav">
                        {% for category in categories %}
                        {% set checked = "" %}
                        {% if category.id == app.request.query.get('category_id')%}
                        {% set checked = "checked=true"%}
                        {% endif %}
                        <li class="uk-parent uk-active uk-position-relative uk-position-small uk-margin-remove">
                            <span class="uk-position-center-left" style="color:orange;">{{category.cnt}}</span><a class="uk-margin-left uk-link-muted" href="javascript::void(0)">
                                {{category.name}}
                                <span class="uk-position-center-right uk-margin-small-right">
                                    <input class="uk-radio" {{checked}} type="radio" name="category_id" value="{{category.id}}">
                                </span>
                            </a>

                        </li>
                        {% endfor %}
                        
                    </ul>
                    <div left-banner class="uk-margin-large-top">
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-card uk-card-default uk-padding" uk-card>
                {% for company in companies %}
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-auto uk-flex uk-flex-middle">
                        <div class="uk-cover-container">
                            <img class="uk-border-rounded" 
                            src="/uploads/images/company/{{company.avatar}}" width="180" height="10" alt="Border rounded">
                        </div>
                    </div>
                    <div class="uk-width-expand uk-padding-small">
                        <a class="uk-h3 uk-margin-remove-bottom uk-text-primary" href="{{path('_company_view',{url:company.url})}}">{{company.name}}</a>
                        <p class="uk-text-break">{{company.description}}</p>
                        <p class="uk-text-meta"></p>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}
