{% extends "base.html.twig" %}
{% block title %}Редактировать объявление{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}
<div class="uk-panel uk-margin">
    <div class="uk-container uk-margin uk-width-xxlarge">
        <form class="uk-form-horizontal uk-margin-large" action="" method="POST">
            <input type="hidden" value="{{session_id}}" name="session_id" ng-init="session_id='{{session_id}}'" ng-model="session_id" >
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Заголовок{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input value="{{advert.id}}" name="id" ng-model="id" ng-init="id='{{advert.id}}'" type="hidden">    
                    <input value="{{advert.title}}" name="title" class="uk-input" id="form-horizontal-text" type="text">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Раздел{% endtrans %}</label>
                <div class="uk-form-controls">
                    <select value="{{advert.sectionId}}" class="uk-select" name="section_id" id="form-horizontal-select">
                        <option value="0">Пусто</option>
                        {% for section in  sections %}
                        {% set selected = ''%}
                        {% if section.id == advert.sectionId %}
                        {% set selected = "selected" %}
                        {% endif%}
                            <option value="{{ section.id}}" {{selected}}>{{section.name}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Категория{% endtrans %}</label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="category_id" id="form-horizontal-select">
                        <option value="0">Пусто</option>
                        {% for category in  categories %}
                        {% set selected = ''%}
                        {% if category.id == advert.categoryId %}
                        {% set selected = "selected" %}
                        {% endif%}
                            <option value="{{ category.id}}" {{selected}}>{{category.name}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Мои магазины{% endtrans %}</label>
                <div class="uk-form-controls">
                    {{ render(controller('AppBundle:Company:usercompany', { 'id': advert.company_id })) }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Цена{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input name="price" value="{{advert.price}}" class="uk-input" id="form-horizontal-text" type="text">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Валюта{% endtrans %}</label>
                <div class="uk-form-controls">
                    {{ render(controller('AppBundle:Currency:index', { 'name': advert.currency })) }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Описание{% endtrans %}</label>
                <div class="uk-form-controls">
                    <textarea name="description" value="{{advert.description}}"class="uk-textarea" rows=5>{{advert.description}}</textarea>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Фото{% endtrans %}</label>
                <div class="uk-form-controls">
                    <div uk-form-custom="target: true">
                        <input file-input ng-model="image" type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Выбрать файл">
                    </div>
                    <a ng-click="uploadImage()" class="uk-button uk-button-default">{% trans %}Загрузить{% endtrans %}</a>
                </div>
            </div>
            <div class="uk-margin" id="image_preview">
                <ul class="uk-iconnav">
                    {% set index = 0 %}
                    {% for preview in previews %}
                    {% set index = index + 1 %}
                    <li id="{{index}}"><img src="{{asset('uploads/images/advert/'~advert.id~'/'~preview)}}"></li>    
                    <li>
                        <a data-id="{{index}}" class="delete-image" data-image="{{asset('uploads/images/advert/'~advert.id~'/'~preview)}}"  ng-click="deleteCurrentImage($event.target)" href="javascript:void(0)" style="font-size:20px;color:red">&#x26CC;
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large" type="submit">{% trans %}Подать объявление{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html.twig' %}
<script>
    var uploadUrl = "{{path('_upload_advert_image')}}";
    var session_id = "{{session_id}}";
    var deleteImageUrl = "{{path('_delete_advert_image')}}";
    angular.module("agroov").directive("fileInput", function($http){
        return {
            link: function(scope, element,attr){
                scope.uploadImage = function(){
                    fd = new FormData();
                    console.log(element[0].files[0]);
                    fd.append('image', element[0].files[0]);
                    fd.append('session_id',scope.session_id);
                    $http.post(uploadUrl,fd,{
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined,'UserSession' : session_id}
                    }).then(function(d){
                        console.log(d);

                        document.getElementById('image_preview').innerHTML += "<img src=" + "/uploads/tmp/" + session_id + "/small_" +  d.data + ">";
                    });
                }
                
                scope.deleteCurrentImage = function(item){
                    var data = {   
                        "image" : angular.element(item)[0].attributes['data-image'].value,
                        "id" : scope.id,
                        "session_id" : scope.session_id
                    };
                    $http.post(deleteImageUrl,data).then(function(d){
                        if(d){
                            angular.element(item).parent().remove();
                            document.getElementById(angular.element(item)[0].attributes['data-id'].value).remove();
                        }
                    });
                }
            }
        };
    });
    
    var currencyUrl = "{{path('_currency')}}";
    angular.module('agroov').directive('currencySel',function(){
        return {
            templateUrl : currencyUrl
        };
    });

    var countryUrl = "{{path('_country')}}";
    angular.module('agroov').directive('countrySel',function(){
        return {
            templateUrl : countryUrl
        };
    });

    var currencyUrl = "{{path('_currency')}}";
    angular.module('agroov').directive('currencySel',function(){
        return {
            templateUrl : currencyUrl
        };
    });

    $('#country_id').change(function(){
        var url = "/region/" + $(this).val();
        var phonecode = $('option:selected', this).attr('data-phonecode');
        $('#phonecode').val("+"+phonecode);
    });
</script>
{% endblock%}
