{% extends "base.html.twig" %}
{% block title %}AppBundle:User:registration{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}
<div class="uk-container uk-margin uk-width-xxlarge">
    {% for message in app.flashes('error') %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{message}}</p>
        </div>
    {% endfor %}
</div>
<div class="uk-panel uk-margin-bottom">
    <div class="uk-container uk-margin uk-width-xxlarge">
        <form class="uk-form-horizontal uk-margin-large" action="" method="POST">
            <input type="hidden" value="{{session_id}}" name="session_id" ng-model="session_id_model" >
            <div class="uk-margin">
                <label class="uk-form-label">{% trans %}Имя,фамилия{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input name="fio" class="uk-input" required  type="text" placeholder="">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" >{% trans %}Логин{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input name="username" required class="uk-input" type="text" placeholder="">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">{% trans %}Пароль{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input name="password" class="uk-input" required  type="password" placeholder="">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">{% trans %}Повтор пароля{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input name="password_retype" required class="uk-input"  type="password" placeholder="">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">{% trans %}Страна{% endtrans %}</label>
                <div class="uk-form-controls">
                    {{ render(controller('AppBundle:Country:index')) }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" >{% trans %}Телефон{% endtrans %}</label>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-4@s">
                        <input name="phonecode" required id="phonecode" ng-model="phonecode" class="uk-input" type="text" placeholder={%trans%}Межд.Код{%endtrans%}>
                    </div>
                    <div class="uk-width-1-2@s">
                        <input name="phone_without_code" required class="uk-input" ng-model="_phone" type="text" placeholder={%trans%}Номер телефона{%endtrans%}>
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">{% trans %}E-mail{% endtrans %}</label>
                <div class="uk-form-controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input name="email" required class="uk-input" for="form-horizontal-text" type="text">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="for-horizontal-text">{% trans %}Фото на аватар{% endtrans %}</label>
                <div class="uk-form-controls">
                    <div uk-form-custom="target: true">
                        <input file-input ng-model="image" type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Выбрать файл">
                    </div>
                    <a ng-click="uploadImage()" class="uk-button uk-button-default">{% trans %}Загрузить{% endtrans %}</a>
                </div>
                <div>
                    <ul class="uk-iconnav">
                        <li><img src={{'{{uploaded_image}}'}}></li>    
                        <li>
                            <a ng-click="deleteCurrentImage()" href="javascript::void()" 
                            uk-icon="icon: trash" style="color:red">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-margin uk-text-center">
                <p class="uk-text-meta" style="font-size: 13px">{% trans %}Нажимая кнопку «Регистрация», вы соглашаетесь с{% endtrans %}&nbsp;<a class="uk-text-primary" href="#">{% trans %}условиями пользования{% endtrans %}</a> {% trans %}и обработкой персональных данных.{% endtrans %}</p>
            </div>
            <button class="uk-button uk-button-primary uk-button-large" type="submit">{% trans %}Регистрация{% endtrans %}</button>
        </form>
    </div>
</div>
{% include 'footer.html.twig' %}
<script>
    var uploadUrl = "{{path('_upload_user_image')}}";
    var deleteImageUrl = "{{path('_delete_user_image')}}";
    var session_id = "{{session_id}}";
    angular.module("agroov").directive("fileInput", function($http){
        return {
            link: function(scope, element,attr){
                scope.uploadImage = function(){
                    fd = new FormData();
                    console.log(element[0].files[0]);
                    fd.append('image', element[0].files[0]);
                    fd.append('session_id',scope.session_id);
                    $http.post(uploadUrl,fd,{
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined,'UserSession' : session_id}
                    }).then(function(d){
                        console.log(d);
                        scope.uploaded_image = "/uploads/tmp/" + session_id + "/small_" +  d.data;
                    });
                }
                scope.deleteCurrentImage = function(){
                    $http.post(deleteImageUrl,{'image':scope.uploaded_image},
                        {
                            headers: {'UserImage' : scope.uploaded_image}
                        }).then(
                        function(d){
                            console.log(d);
                            scope.uploaded_image = '';
                        });
                }
                
            }
        };
    });

    $('#country_id').change(function(){
        var url = "/region/" + $(this).val();
        var phonecode = $('option:selected', this).attr('data-phonecode');
        $('#phonecode').val("+"+phonecode);
        $.get( url, function( data ) {
            $('#region').html(data);
            $('#region_id').change(function(){
                var url = "/city/" + $(this).val();
                $.get( url, function( data ) {
                    $('#city').html(data);
                });
            });
        });
    });
</script>
{% endblock%}
